a {
	color: $brand-primary;
    text-decoration: none;
    
	&:visited {
		color: $brand-secondary;
	}
	&:hover,
	&:active {
		color: $brand-secondary;
        text-decoration: none;
	}
	&:focus { 
		outline: thin dotted;
        text-decoration: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}