//colours
//common
$brand-grey: #E0E0E0;
$brand-dark: #121212; 

//brand
$brand-primary: pink;  
$brand-secondary: green;
$brand-placeholder-color:$brand-grey;

//fonts
$brand-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
$brand-heading: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   