//colours
//common
$brand-lightgrey: #E0E0E0;
$brand-darkgrey: #121212; 

//brand
$brand-primary: black;  
$brand-secondary: white;
$brand-placeholder-color:$brand-lightgrey;

//fonts
$brand-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
$brand-heading: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   